<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.votebrian.tradecalc"
    android:versionCode="8"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/football_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.HoloEverywhereLight.Sherlock" >

        <activity
            android:name=".TradeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DraftList"
            android:label="@string/full_list_label"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>

    </application>

</manifest>